<div class="header">
	<ul>
	  <li><a routerLink="/home">Home</a></li>
	  <li><a routerLink="/contact">Contact us</a></li>
	  <li style="float:right">
	  	<div id="new-account-div">
	  		<professional-registration-modal>Professional registration modal</professional-registration-modal>
	  	</div>
	  </li>
	  <li style="float:right">
	  	<div id="new-account-div">
	  		<button type="button" id="new-account-button" (click)="showLoginComponent()">login</button>
	  	</div>
	  </li>
	</ul>
</div>