<div class="login-container">
	<div class="login-content">
		<form [formGroup]="loginForm" (ngSubmit)="doLogin()" #f="ngForm" novalidate>
			<div *ngIf="loginTried && formFilled() && !loginSuccess" class="help-block">Authentication failed ! please try again</div>
			<div class="container-fluid">
				<div class="form-group">
					<label for="login">Login:</label>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-user"></span>
						</div>
						<input class="form-control" formControlName="login" type="text" placeholder="Your login or email" />
					</div>
					<div *ngIf="f.submitted && loginForm.value.login == ''" class="help-block">Username is required</div>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<div class="input-group">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-lock"></span>
						</div>
						<input class="form-control" formControlName="password" type="password" placeholder="Your password" />
					</div>
					<div *ngIf="f.submitted && loginForm.value.password == ''" class="help-block">Password is required</div>
				</div>
				<button class="btn btn-primary pull-right" type="submit">Log in</button>
			</div>
		</form>
	</div>
</div>
<div id="new-account-div">
	<button (click)="showRegistrationComponent()" class="btn btn-default" type="submit">Or create your account</button>
</div>