.time-slot {
	text-align: center;
	float:left;
	width:150px;
	height:75px;
	line-height:75px;
	border: 1px solid #c0c0c0;
}

.time-slot-selected {
	background-color:#008040;
}

.time-slot-not-selected {
	background-color:#808080;
}
